/* 
    (*)Normalize:
    Nos permite formatear el formato por defetcto del navegador

*/
/* Importacion de fuentes puede ser directamente en el css u atravez del link en el archivo html */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,100;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
}

.container{
    color: #D00000;
    font-size: 1em; 
    font-family: 'Roboto', sans-serif;;
}